* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #5b85b1ff; */
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#container {
  background-color: #5b85b1ff;
  height: 80vh;
  width: 90%;
  max-width: 800px;
  margin: 5vh auto;
  position: relative;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

.modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

.modalTwo {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 3000;
}

.bg-blob {
  position: absolute;
  z-index: -1;
  box-sizing: content-box;
  height: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-large-blob {
  top: 0;
  left: 0;
  width: 70%;
  padding-bottom: 70%;
  background-image: url('blob/blob_12-6-993.svg');
}
